.mainPageContainer {
    position: relative;
}

.mainPageImage {
    width: 100dvw;
    height: 100dvh;
    z-index: -100;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    position: relative;
}

.mainPageImage::before {
    content: "";
    width: 100dvw;
    height: 100dvh;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary-transparent);
}

.sloganText {
    display: block;
    position: absolute;
    z-index: 20;
    top: 45dvh;
    left: 10%;
    transform: translateY(-50%);
    font-family: "Roboto Condensed", serif;
    font-size: 10dvh;    
    line-height: 12dvh;
    font-weight: 100;
    color: white;
    opacity: 0.9;
}

.aboutTextContainer {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: solid 2px var(--color-secondary);
    z-index: 20;
}

.aboutTextTitleContainer {
    height: 100%;
    width: 34dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-primary-light);
}

.aboutTextTitle {
    display: block;
    width: fit-content;
    font-family: "Montserrat", serif;
    font-weight: 500;
    overflow: hidden;
    text-align: center;
    transition: all 0.5s ease-in;
    transform: translateY(100%);
    opacity: 0;
    font-size: 1.5rem;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    letter-spacing: 1px;
}

.zipper {
    display: block;
    position: absolute;
    left: 34dvw;
    transform: translateX(-50%);
}

.aboutTextItemsContainer {
    height: 100%;
    width: 66dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-primary);
}

.aboutTextItemText {
    display: inline-block;
    width: fit-content;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 0;
    margin: 0 1rem;
    font-family: "Montserrat", serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease-in;
    position: relative;
    transform: translateY(100%);
    opacity: 0;
    color: var(--color-text);
}

@media (min-width: 1440px) {
    .aboutTextTitle {
        font-size: 1.75rem;
    }
    
    .aboutTextItemText {
        font-size: 1.35rem;
    }
}

.aboutTextItemText:hover {
    color: var(--color-secondary);
}

.textVisible {
    transform: translateY(0) !important;
    opacity: 1 !important;
}

.underlineAboutText {
    display: block;
    position: absolute;
    height: 2px;
    width: 1.5rem;
    background-color: var(--color-secondary);
    opacity: 0.8;
    left: 0;
    bottom: -0.75rem;
    border-radius: 50rem;
    transition: all .25s ease-in;
    z-index: 10;
} 

.aboutTextItemText:hover .underlineAboutText {
    width: calc(100% + 0.1rem);
}

.mainPageImageDescription {
    width: 100dvw;
    height: 100dvh;
    z-index: -100;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.mainPageImageDescription::after {
    content: "";
    width: 100dvw;
    height: 100dvh;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, var(--color-primary) 100%);
}

.mainPageImageDescription::before {
    content: "";
    width: 100dvw;
    height: 100dvh;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary-transparent);
}

.descriptionTextContainer {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 10rem 0;
    opacity: 0.9;
}

.span {
    color: var(--color-secondary);
    font-weight: 600;
}

.descriptionText {
    display: block;
    position: relative;
    color: var(--color-text);
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    width: 60%;
    line-height: 3rem;
    opacity: 0;
    transition: all 0.5s ease-in;
    text-align: center;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

.trustUsContainer {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.trustUsImg {
    height: 100dvh;
    width: 100dvw;
    z-index: -100;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}

.trustUsImg::before {
    content: "";
    width: 100dvw;
    height: 100dvh;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, var(--color-primary) 0%, rgba(0,0,0,0) 50%, var(--color-primary) 100%);
}

/* .trustUsTitle {
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 3rem;
    color: var(--color-text);
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s ease-in;
    margin-top: 2rem;
}

.trustUsText {
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-text);
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s ease-in;
    text-align: justify;
    width: 60%;
    font-style: italic;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
} */

.trustUsContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1rem;
    gap: 5rem;
}

.trustUsText {
    width: 40dvw;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 1.5rem;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s ease-in;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    color: var(--color-text);
    text-align: left;
}

.swiper {
    display: block;
    height: auto;
    width: 50dvw;
    opacity: 1;
}

.swiperItem {
    height: 30dvh;
    width: auto;
    position: relative;
    /* background-color: rgba(35, 46, 59, 0.5); */
    border-radius: 16px;
    /* margin: 5rem 3rem;
    padding: 4rem; */
    padding: 1rem;
    margin: 2rem 1rem;
    /* background-color: rgba(35, 46, 59, 0.5); */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.25s ease-in;
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.35));
}

.swiperImg {
    height: auto;
    width: auto;
    display: block;
    object-fit: contain;
}

.learnMoreContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s ease-in;
    gap: 1.5rem;
}

.learnMoreText {
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--color-text);
    transition: all 0.25s ease-in;
}

.learnMoreButton {
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-size: 2rem;
    color: var(--color-text);
    transition: all 0.25s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border: solid 1px var(--color-text);
    border-radius: 50%;
}

.learnMoreButtonArrowSvg {
    fill: var(--color-text);
    transition: all 0.25s ease-in;
}

.learnMoreContainer:hover .learnMoreButton {
    background-color: var(--color-secondary);
    border: solid 1px var(--color-secondary);
}

.learnMoreContainer:hover .learnMoreButtonArrowSvg {
    fill: var(--color-primary);
}

.learnMoreContainer:hover .learnMoreText {
    color: var(--color-secondary);
}

@media (max-width: 768px) {
    .mainPageImage {
        height: 80dvh;
        background-repeat: no-repeat; 
        background-position: 75% 0; 
        background-size: cover;
        transform: scale(1.25);
    }

    .mainPageImage::before {
        height: 80dvh;
    }

    .sloganText {
        font-size: 3rem;
        line-height: 5rem;
        width: 900%;
        top: 40dvh;
        font-weight: 200;
    }

    .aboutTextContainer {
        height: fit-content;
        flex-direction: column;
        position: relative;
    }

    .aboutTextTitleContainer {
        height: fit-content;
        width: 100%;
        height: 20dvh;
        padding: 2rem;
    }

    .aboutTextTitle {
        width: 100%;
        text-align: start;
        font-size: 1.75rem;
        text-align: center;
    }

    .zipper {
        left: auto;
        right: 0;
        top: 20dvh;
        transform: translate(-50%, -50%);
    }

    .aboutTextItemsContainer {
        height: fit-content;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 2.5rem;
        gap: 3rem;
    }

    .aboutTextItemText {
        display: block;
        width: fit-content;
        font-size: 1.3rem;
        height: auto;
        padding: 0;
        margin: 0;
        font-family: "Montserrat", serif;
        cursor: pointer;
        transition: all 0.5s ease-in;
        position: relative;
        padding: 0.25rem;
    }

    .aboutTextItemText:hover {
        color: var(--color-text);
    }

    .underlineAboutText {
        display: block;
        position: relative;
        margin-top: 0rem;
        bottom: -0.5rem;
        width: 1.5rem;
    } 
    
    .aboutTextItemText:hover .underlineAboutText {
        width: 1.5rem;
    }

    .descriptionTextContainer {
        gap: 1.5rem;
        margin: 5rem 0;
    }
    
    .descriptionText {
        width: 100%;
        padding: 1.5rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .learnMoreContainer {
        margin-top: 2.5rem;
    }

    .trustUsTitle {
        font-weight: 500;
        font-size: 2.5rem;
    }

    .trustUsContainer {
        gap: 2.5rem;
        justify-content: start;
        padding-top: 5rem;
    }

    .swiperItem {
        height: 60dvw;
        width: 45dvw;
        position: relative;
        border-radius: 12px;
        margin: 3rem 1rem;
        padding: 1rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}